.env
**/.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.ipynb_checkpoints/
venv/
.envrc
.DS_Store
# secrets/keys
service_account.json
**/service_account.json
*.pem
*.key
*.p12
*.der
*.crt
*.cer
id_*
exit
exit.pub
